# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/
.next/
.turbo/
.vite/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Coverage
coverage/
.nyc_output/

# Misc
*.tgz
